<div class="container">
  <div class="relative w-full">
    <div class="flex animate-marquee min-w-full space-x-10 items-center">

      {{ range .Site.Data.clients.clients }}
        {{ $original := resources.Get (printf "images/%s" (path.Base .icon)) }}
        {{ $resizedWebp := $original.Resize "96x webp q95" }}
        {{ $resizedPng := $original.Resize "96x png q95" }}

        <div class="shrink-0 flex items-center justify-center h-20 w-24 md:h-24 md:w-28 rounded-xl shadow-sm bg-white dark:bg-[#1f3d34] p-2">
          <picture>
            <source srcset="{{ $resizedWebp.RelPermalink }}" type="image/webp" />
            <img
              src="{{ $resizedPng.RelPermalink }}"
              alt="Client Logo"
              class="max-h-12 md:max-h-16 object-contain opacity-80 hover:opacity-100 transition duration-300"
              loading="lazy"
              decoding="async"
              width="96"
              height="96"
            />
          </picture>
        </div>
      {{ end }}

      {{ range .Site.Data.clients.clients }}
        {{ $original := resources.Get (printf "images/%s" (path.Base .icon)) }}
        {{ $resizedWebp := $original.Resize "96x webp q95" }}
        {{ $resizedPng := $original.Resize "96x png q95" }}

        <div class="shrink-0 flex items-center justify-center h-20 w-24 md:h-24 md:w-28 rounded-xl shadow-sm bg-white dark:bg-[#1f3d34] p-2">
          <picture>
            <source srcset="{{ $resizedWebp.RelPermalink }}" type="image/webp" />
            <img
              src="{{ $resizedPng.RelPermalink }}"
              alt="Client Logo"
              class="max-h-12 md:max-h-16 object-contain opacity-80 hover:opacity-100 transition duration-300"
              loading="lazy"
              decoding="async"
              width="96"
              height="96"
            />
          </picture>
        </div>
      {{ end }}

    </div>
  </div>
</div>
