/* Add your own custom styles here */
.header {
    @apply sticky top-0 z-30 
           backdrop-blur-lg  
           bg-light/30 dark:bg-dark/40  
           shadow-md 
           transition-all duration-300;
  }

  @keyframes marquee {
    0%   { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
  }
  
  .animate-marquee {
    animation: marquee 15s linear infinite;
    display: flex;
    width: max-content;
    will-change: transform;
  }
  
  
  .animate-marquee:hover {
    animation-play-state: paused;
  }
  
  /* Hero section */
  .section-hero {
    @apply min-h-[calc(100vh-70.39px)] md:min-h-[calc(100vh-80px)] lg:min-h-[calc(100vh-98px)];
    /* @apply md:py-8 lg:py-16; */
    @apply items-center;
  }

  @media (min-width: 1024px) and (orientation: landscape) {
    
    .section-hero-inner {
      flex-direction: row !important;
    }
  }
/* Hero section */

  .section-xs {
    @apply py-4;
  }

  .swiper-slide {
    transition: transform 0.3s ease;
  }
  .swiper-slide-active {
    transform: scale(1.00);
  }

