<ol class="relative border-s border-[#cceede] dark:border-[#1f3d34]">
  {{ $items := .Inner | transform.Unmarshal (dict "format" "yaml") }}
  {{ range $items }}
    <li class="mb-10 ms-6">
      <span class="absolute flex items-center justify-center w-6 h-6 bg-[#f5fff9] rounded-full -start-3 ring-8 ring-white dark:ring-[#0F1A17] dark:bg-[#152720]">
        {{ with .icon }}
          <i class="text-[#00C776] dark:text-[#00FFAA] {{ . }}"></i>
        {{ else }}
          <div class="w-2.5 h-2.5 bg-[#00C776] dark:bg-[#00FFAA] rounded-full"></div>
        {{ end }}
      </span>

      <h3 class="flex items-center mb-1 text-lg font-semibold text-[#1e1e1e] dark:text-[#d8fce7]">
        {{ .title }}
        {{ with .badge }}
          <span class="bg-[#f5fff9] text-[#00C776] text-sm font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-[#152720] dark:text-[#00FFAA] ms-3">{{ . }}</span>
        {{ end }}
      </h3>

      <time class="block mb-2 text-sm font-normal leading-none text-[#4f665a] dark:text-[#9be7c3]">
        {{ .date }}
      </time>

      <p class="mb-4 text-base font-normal text-[#4f665a] dark:text-[#9be7c3]">
        {{ .description }}
      </p>

      {{ with .link }}
        <a href="{{ .url }}" class="inline-flex items-center px-4 py-2 text-sm font-medium text-[#1e1e1e] bg-white border border-[#cceede] rounded-lg hover:bg-[#f5fff9] hover:text-[#00C776] focus:z-10 focus:ring-4 focus:outline-none focus:ring-[#cceede] focus:text-[#00C776] dark:bg-[#0F1A17] dark:text-[#d8fce7] dark:border-[#1f3d34] dark:hover:text-white dark:hover:bg-[#152720] dark:focus:ring-[#1f3d34]">
          {{ with .icon }}
            <i class="w-3.5 h-3.5 me-2.5 {{ . }}"></i>
          {{ end }}
          {{ .text }}
        </a>
      {{ end }}
    </li>
  {{ end }}
</ol>

